.content-header {
  overflow: hidden;
  height: 540px;
}

@media screen and (max-width: 800px) {
  .content-header {
    height: auto;
  }
}

.content-header:before,
.content-header:after {
  height: 100%;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50px;
  right: 50px;
}

@media screen and (max-width: 800px) {
  .content-header:before,
  .content-header:after {
    left: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .content-header:before,
  .content-header:after {
    left: 0;
    right: 0;
  }
}

.content-header:before {
  z-index: 1;
  opacity: 0.9;
  background: #6d4b92;
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, #6d4b92),
    color-stop(50%, #885a9f),
    color-stop(100%, #6e3e91)
  );
  background: linear-gradient(135deg, #6d4b92 0%, #885a9f 50%, #6e3e91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d4b92', endColorstr='#6e3e91', GradientType=1 );
}

.content-header:after {
  opacity: 0.06;
  z-index: 2;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-section {
  width: 100%;
  float: left;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.provider-landing-page h2 {
  font-size: 42px;
  color: #3e2559;
  padding-top: 30px;
}
