.service-link {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.service-link h2 {
  font-size: 30px;
  margin: 0px;
  margin-bottom: 10px;
}

.service-link h3 {
  font-size: 20px;
  margin: 0px;
}

.service-item-link {
  color: #3e2559;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}

.service-item-link:hover {
  text-decoration: underline;
}

.service-item-text {
  padding-top: 5px;
  font-size: unset;
}
