.provider {
  margin-bottom: 50px;
}

.provider .heading {
  text-align: center;
}

.provider .heading > img {
  width: auto;
}

@media screen and (max-width: 800px) {
  .provider .heading > img {
    max-width: 100%;
    margin: auto;
  }
}

.provider .heading > * {
  margin: auto;
}
