.provider {
  margin-bottom: 50px;
}

.provider .heading {
  text-align: center;
}

.provider .heading > img {
  width: auto;
}

@media screen and (max-width: 800px) {
  .provider .heading > img {
    max-width: 100%;
    margin: auto;
  }
}

.provider .heading > * {
  margin: auto;
}

ul.service-list {
  padding-top: 50px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

@media screen and (max-width: 800px) {
  .service-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

ul.service-list li.service-link {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

ul.service-list li.service-link h2 {
  font-size: 30px;
  margin: 0px;
  margin-bottom: 10px;
}

ul.service-list li.service-link h3 {
  font-size: 20px;
  margin: 0px;
}

ul.service-list li.service-link a {
  color: #3e2559;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}

ul.service-list li.service-link a:hover {
  text-decoration: underline;
}

ul.service-list li.service-link p {
  padding-top: 5px;
  font-size: unset;
}

ul.service-list li > ul {
  padding-left: 25px;
}
