@import url('https://fonts.googleapis.com/css?display=swap&family=Roboto+Mono|Roboto:300,400,400i,700&subset=latin,latin-ext');

@font-face {
  font-family: 'Volte-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium'),
    url('./assets/fonts/Volte Medium.woff') format('woff');
}

@font-face {
  font-family: 'Volte-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold'),
    url('./assets/fonts/Volte Semibold.woff') format('woff');
}

body {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6b7c94;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}

code {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Volte-Semibold';
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size-adjust: none;
  -moz-font-size-adjust: none;
  -webkit-font-size-adjust: none;
}

a,
a:hover {
  cursor: pointer;
  outline: none;
}

a img {
  border: none;
}

a.cta {
  padding: 15px 30px;
  color: white;
  background-color: #c6366e;
  border-radius: 40px;
  text-decoration: none;
  font-family: 'Volte-Semibold', 'Roboto', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-size: 18px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 1025px) {
  a.cta:hover {
    background: #3e2559;
    box-shadow: 0 0 20px #dbdde4;
  }
}

@media screen and (max-width: 500px) {
  a.cta {
    width: 190px;
    height: 50px;
    font-size: 15px;
    letter-spacing: -0.021em;
    line-height: 50px;
  }
}
