@import url('https://fonts.googleapis.com/css?display=swap&family=Roboto+Mono|Roboto:300,400,400i,700&subset=latin,latin-ext');

@font-face {
  font-family: 'Volte-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Medium'),
    url('./assets/fonts/Volte Medium.woff') format('woff');
}

@font-face {
  font-family: 'Volte-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Volte Semibold'),
    url('./assets/fonts/Volte Semibold.woff') format('woff');
}

body {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6b7c94;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}

code {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Volte-Semibold';
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size-adjust: none;
  -moz-font-size-adjust: none;
  -webkit-font-size-adjust: none;
}

a,
a:hover {
  cursor: pointer;
  outline: none;
}

a img {
  border: none;
}

a.cta {
  padding: 15px 30px;
  color: white;
  background-color: #c6366e;
  border-radius: 40px;
  text-decoration: none;
  font-family: 'Volte-Semibold', 'Roboto', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-size: 18px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:link {
  -webkit-tap-highlight-color: rgba(1, 1, 1, 0.563);
}

@media screen and (min-width: 1025px) {
  a.cta:hover {
    background: #3e2559;
    box-shadow: 0 0 20px #dbdde4;
  }
}

@media screen and (max-width: 500px) {
  a.cta {
    width: 190px;
    height: 50px;
    font-size: 15px;
    letter-spacing: -0.021em;
    line-height: 50px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
}

.grid.small3 {
  max-width: 760px;
  padding: 0 30px;
}

.grid .wrp {
  width: 100%;
  position: relative;
  float: left;
}

.copy {
  margin-bottom: 100px;
}

@media screen and (max-width: 680px) {
  .copy {
    width: auto !important;
    max-width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.copy h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.copy p {
  margin-bottom: 15px;
  font-size: 18px;
}

.copy p.lead {
  margin-top: 30px;
  color: #3e2559;
  font-size: 20px;
  font-family: 'Volte-Medium', 'Roboto', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
}

.copy p.notlead {
  color: #3e2559;
  margin-top: 15px;
  font-size: 20px;
}

.copy p.notlead br {
  line-height: 35px;
}

.copy p a {
  color: #3e2559;
  text-decoration: underline;
}

.copy p a:hover {
  text-decoration: none;
}

h2 {
  color: #3e2559;
  font-size: 42px;
}

h3 {
  color: #3e2559;
  font-size: 32px;
}

a.btn-cta {
  width: 260px;
  height: 60px;
  display: block;
  position: relative;
  margin: 40px auto 0;
  font-family: 'Volte-Semibold', 'Roboto', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-size: 18px;
  letter-spacing: -0.031em;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background: #c6366e;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 7px 40px #dbdde4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.18s linear;
  transition: all 0.18s linear;
}

@media screen and (min-width: 1025px) {
  a.btn-cta:hover {
    background: #3e2559;
    box-shadow: 0 0 20px #dbdde4;
  }
}

@media screen and (max-width: 500px) {
  a.btn-cta {
    width: 190px;
    height: 50px;
    font-size: 15px;
    letter-spacing: -0.021em;
    line-height: 50px;
  }
}
